body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
    background-color: #e6e6c6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none; /* Remove default underline */
    color: white; /* Set link color */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

a:hover {
    color: blue; /* Change color on hover */
    text-decoration: underline; /* Add underline on hover */
}

.form-upload {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    text-align: center; /* Center text */
    margin-top: 30px;
}

.file-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.list-files {
    list-style: none;
    padding: 0;
}

.list-files li {
    display: flex;
    align-items: center;
}

.list-files li button {
    margin-left: 10px; /* Adjust as needed for spacing */
}

.file-contents-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-enclosure {
    border: 2px solid black;
    padding: 10px; /* Add some padding inside the border */
    margin: 20px; /* Add margin for spacing */
}

.app-gen {
    text-align: center;
    margin: 0 auto;
    width: 50%; /* Adjust this width as needed */
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    /* Push the footer to the bottom */
}


