/* mgmt-style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* Add flex-grow to ensure the content takes up remaining space */
}

.buttons-container {
    display: flex; /* Flexbox container */
    justify-content: center; /* Center align the buttons horizontally */
    margin-top: 20px; /* Adjust margin as needed */
}

.buttons-container button {
    margin-left: 10px;
}

input[type="file"] {
    display: block;
    margin-bottom: 15px;
}

input[type="submit"],
button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
button:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
